#gameboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.pokemon-card {
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: gray;
  color: black;
  padding: 0.5rem;
  margin: 0.5rem;
}

.pokemon-card:hover {
  background-color: lightgray;
}